@page "/homesa"

<section class="content">
    <br />
    <div class="box">
        <div style="margin:1em auto; width:90%;">
            <img src="/img/dashboard.jpg"  alt="promo">
        </div>
    </div>

    <br /><br />
</section>
