@page "/tasasprestamos"

<section class="content">
    <br />

    <div class="row" style="margin: 0 auto; max-width:1050px">
        <div class="col-md-12">

            <div class="card card-info card-outline  ">
                <div class="card-header border-transparent">
                    <h3 class="card-title">Tasas Préstamos</h3>
                    <div class="card-tools">

                        <ul class="nav nav-pills ml-auto">

                            <li class="nav-item">
                                <a class="nav-link" href="#sales-chart" data-toggle="tab"></a>
                            </li>
                            <li>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <img src="./img/tasaprestamos.png" style="width:90%" />
                    </div>
                </div>

            </div>

        </div>
    </div>

    <br /><br />
</section>