@inherits LayoutComponentBase

<div class="wrapper mload">

    <Header />

    <Menu />

    <div class="content-wrapper">
        @Body
    </div>

   @* <footer class="main-footer" style="font-size: 10px;padding: 1px 1em;">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 2.1
        </div>
        <strong>Copyright &copy; 2022-@DateTime.Now.Year <a href="https://gruposid.com.do/">MercaSID TI</a>.</strong> All rights reserved.
    </footer>*@

</div>
