<div id="app-overlay" style="display:@visible">
           <div class="app-spinner"></div>
           <br />
           Cargando ...
       </div>

@code {
    [Parameter]
    public string visible { get; set; }

}