@page "/dashboardp"

@inject HttpClient http
@inject IJSRuntime jsRuntime

<br />
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
                <h1 class="m-0">
                    <i class="fas fa-rss"></i>
                    Gestión pasiva / Inversión pasiva
                </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="home" >Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

<section class="content">
    <br />
    <div>
        <div style="margin:0 auto; width:100%;">
            <img src="/img/carteraPasivos.png" alt="promo">
        </div>
    </div>

    <br /><br />
</section>